<div>

  <div style="margin-top: 10px; text-align: center;">
    <span class="sidetitle">Edit vehicle data:</span>
  </div>

  <hr>

  <div style="margin-top: 20px">
  <span class="sidetitle" style="padding-right: 40px;">Manufacturer:</span>
    <mat-form-field style="width: 100% !important;">
      <input matInput [(ngModel)]="data.manufacturer" style="width: 100% !important;">
    </mat-form-field>
  </div>

  <div style="margin-top: 10px;">
    <span class="sidetitle" style="padding-right: 28px;">Model:</span>
      <mat-form-field style="width: 100% !important;">
        <input matInput [(ngModel)]="data.model">
      </mat-form-field>
    </div>
    
    <div style="margin-top: 10px;">
      <span class="sidetitle" style="padding-right: 40px;">Number of seats:</span>
        <mat-form-field style="width: 25px !important;">
          <input matInput [(ngModel)]="data.seats">
      </mat-form-field>
  </div>
    
  <div style="margin-top: 10px;">
    <span class="sidetitle" style="padding-right: 36px;">Number of doors:</span>
      <mat-form-field style="width: 25px !important;">
        <input matInput [(ngModel)]="data.doors">
      </mat-form-field>
  </div>

  <div style="margin-top: 20px;">
    <span class="sidetitle">Type:</span>
      <mat-form-field style="width: 100% !important;">
        <input matInput [(ngModel)]="data.type" style="width: 100% !important;">
      </mat-form-field>
  </div>

  <div style="padding-top: 55px; display: inline-block; margin-left: 65px;">
    <button mat-raised-button color="primary" style="margin-right: 20px;" [mat-dialog-close]="data" cdkFocusInitial> Save changes</button>
    <button mat-raised-button  (click)="onNoClick()"> Cancel </button>
  </div>
      
              


</div>


