<div class="container">
<div class="row">
  <mat-card class="mat-elevation-z8 mat-card1">
    <div id="wrapper">
      <div id="title">
        <h2 class="titletext">{{rentalCompany.name}}</h2>
        <span class="overview">-</span>
        <span class="overview">{{rentalCompany.promoDescription}}</span>
        <span style="cursor: pointer;" class="overview2" (click)="onEditCompany()" *ngIf="isAdmin">Edit company</span>
        <span style="cursor: pointer;" class="overview2" (click)="onCompanyIncomes()" *ngIf="isAdmin">Company incomes</span>

        <div style="position: absolute; top: 30px; left: 75%;">
          <span><img class="img" src="{{rentalCompany.photo}}" alt=""></span>
        </div>
        
        <div style="position: relative; margin-top: 16px;">
          <br />
          <div style="position: absolute; top:0">
            <h6 class="spinnertext" style="margin-left:37px"> User rating:</h6>
          </div>

          <div style="position: absolute; top:0; margin-left: 180px">
            <h6 class="spinnertext"> Weekly discount:</h6>
          </div>

          <div style="position: absolute; top:0; margin-left: 360px">
            <h6 class="spinnertext"> Monthly discount:</h6>
          </div>

          <div style="position: absolute; top:0; margin-left: 540px">
            <h6 class="spinnertext"> Available vehicles:</h6>
          </div>    
        </div>
        
        <div class="spinner" style="position: relative; width: 60px; height: 60px; display: flex; align-items: center; justify-content: center;">
          <mat-progress-spinner [diameter]="60" style="width: 60px;height: 60px;position: absolute;top: 0;left: 0;" [color]="'accent'" [mode]="'determinate'" [value]="rentalCompany.averageGrade*10">
          </mat-progress-spinner>
          
          <div style="position: absolute; top:20px; left: 15px;">
            <h6 class="spinnertext">{{rentalCompany.averageGrade | nodata }}</h6>
          </div>

          <div style="position: absolute; top: 10px; left:180px;">
            <h6 class="spinnertext">{{rentalCompany.weekRentalDiscount}}%</h6>
          </div>

          <div style="position: absolute; top: 10px; left:350px;">
            <h6 class="spinnertext">{{rentalCompany.monthRentalDiscount}}%</h6>
          </div>

          <div style="position: absolute; top: 10px; left:540px;">
            <h6 class="spinnertext">{{pagination.totalItems}}</h6>
          </div>    
        </div>

        <br/>
        <span class="overview"> Head office:</span>
        <span class="overview">{{rentalCompany.headOffice.address}}, {{rentalCompany.headOffice.city}}, {{rentalCompany.headOffice.country}}</span>   
        <span class="overview2" (click)="onShowMap(rentalCompany.headOffice.mapString)" style="cursor: pointer;">View on map</span>
        <span class="overview2" (click)="onChangeHeadOffice()" style="cursor: pointer;" *ngIf="isAdmin">Change</span>   
        
        <br />
        <br />
        <span class="overview">Branches:</span>
        <br />
     
        
        <ng-container *ngFor="let branch of rentalCompany.branches">
          <ng-container *ngIf="branch.address !== rentalCompany.headOffice.address">
            <div>
              <span class="overview">{{branch.address}}, {{branch.city}}, {{branch.country}}</span> 
              <span class="overview2" (click)="onShowMap(branch.mapString)" style="cursor: pointer;">View on map</span>  
            </div>
          </ng-container>
        </ng-container>
         
        <br/>
        <div>
          <span class="overview2" (click)="onAddNewDestination()" style="cursor: pointer;" *ngIf="isAdmin">Add new location</span>     
          <span class="overview2" (click)="OnRemoveDestinations()" style="cursor: pointer;" *ngIf="isAdmin">Remove location</span>  
        </div>

        <div style="width: 100%; margin-top: 30px; margin-left: 50px;">
  
          <form>
            <div class="form-row">


              <div class="col">
                <mat-card style="height: 70px !important;">
                <mat-form-field>
                  <mat-label>Pickup location</mat-label>
                  <mat-select [(ngModel)]="startingLocation" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let destination of rentalCompany.branches" [value]="destination.city">
                      {{destination.city}}, {{destination.country}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
              </div>

              <div class="col">
                <mat-card style="height: 70px !important;">
                <mat-form-field>
                  <mat-label>Returning location</mat-label>
                  <mat-select [(ngModel)]="returningLocation" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let destination of rentalCompany.branches" [value]="destination.city">
                      {{destination.city}}, {{destination.country}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card>
              </div>

              <div class="col">
                <mat-card style="height: 70px !important;">
                  <mat-form-field>
                    <mat-label>Starting date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="startingDate" [ngModelOptions]="{standalone: true}" 
                    [min]="startingMinDate" [max]="returningDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker >
                  </mat-form-field>
                </mat-card>
              </div>

              <div class="col">
                <mat-card style="height: 70px !important;">
                  <mat-form-field>
                    <mat-label>Returning date</mat-label>
                    <input matInput  [matDatepicker]="picker2"  [(ngModel)]="returningDate" [ngModelOptions]="{standalone: true}" 
                    [min]="returningMinDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker >
                  </mat-form-field>
                </mat-card>
              </div>

              <div class="col" style="margin-top: 6px;">
                <button mat-fab color="accent" (click)="loadVehicles()"
                [disabled]="startingDate == null || returningDate == null">Apply</button>
              </div>
            </div>
          </form>
        </div>
     </div>
</div>
    </mat-card>

    <mat-card class="mat-elevation-z8 mat-card2">

      <mat-card class="mat-card3">
        <span class="sidetitle">Capacity</span>
        <br/>
        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="seats.two">1 to 2 passengers</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="seats.five">3 to 5 passengers</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="seats.six">6+ passengers</mat-checkbox>
        </div>

        <div>
          <hr>
        </div>
   
        <span class="sidetitle">Doors</span>
        <br/>

        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="doors.two">2 doors</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="doors.four">4 doors</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="doors.five">5+ doors</mat-checkbox>
        </div>

        <div>
          <hr>
        </div>

        <span class="sidetitle">Car type</span>
        <br/>

        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="cartype.small">Small</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="cartype.medium">Medium</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="cartype.large">Large</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="cartype.luxury">Luxury</mat-checkbox>
        </div>

        <div>
          <hr>
        </div>

        <span class="sidetitle">Average rating:</span>
        <br/>

        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="averageRating.seven">7+</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="averageRating.eight">8+</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="averageRating.nine">9+</mat-checkbox>
        </div>
        <div>
          <mat-checkbox class="example-margin" color="primary" [(ngModel)]="averageRating.ten">9.5+</mat-checkbox>
        </div>

        <div>
          <hr>
        </div>

        <span class="sidetitle">Min Price : {{vehicleParams.minPrice}}</span>
        <br/>

        <div>
          <mat-slider style="width: 100% !important;"
          [(value)]="vehicleParams.minPrice"
          class="example-margin"
          [max]="vehicleParams.maxPrice"
          [min]="0"
          [step]="3"
          [thumbLabel]="true"
          color="primary">
      </mat-slider>
      <span style="font-weight: bold;">0</span>
        <span style="font-weight: bold; float: right;">400</span>
        </div>

        <div>
          <hr>
        </div>

        <span class="sidetitle">Max Price : {{vehicleParams.maxPrice}}</span>

        <br/>

        <div>
          <mat-slider style="width: 100% !important;"
          [(value)]="vehicleParams.maxPrice"
          class="example-margin"
          [max]="400"
          [min]="vehicleParams.minPrice"
          [step]="3"
          [thumbLabel]="true"
          color="primary">
        </mat-slider>
        <span style="font-weight: bold;">0</span>
        <span style="font-weight: bold; float: right;">400</span>
        </div>

        <div style="margin-top: 30px; display: inline-block ; margin-left: 30px;">
          <button mat-raised-button color="primary" (click)="loadVehicles()" style="margin-right: 20px;">Apply</button>
          <button mat-raised-button (click)="resetFilters()">Remove filters</button>
        </div>
        </mat-card>

        <span style="cursor: pointer;" class="overview3" (click)="onAddVehicle()" *ngIf="isAdmin">Add new vehicle</span>
        <span style="cursor: pointer;" class="overview3" (click)="onVehicleReservations()" *ngIf="isAdmin">Vehicle reservations</span>
        <span style="cursor: pointer;" class="overview3" (click)="onDiscountedVehicles()" *ngIf="isAdmin">Discounted vehicles</span>

        <ng-container *ngIf="vehicles.length > 0"> 
          <div *ngFor="let vehicle of vehicles">
            <app-vehicle [vehicle]="vehicle" [disabled]="disabled" [admin]="isAdmin" (clicked)="onViewDeal(vehicle)" 
            (clicked3)="onRemoveVehicle(vehicle)"
            (clicked2)="onEditVehicle(vehicle)"
            (clicked4)="onChangeVehicleLocation(vehicle)"></app-vehicle>
          </div>
        </ng-container>
      
        <ng-container *ngIf="vehicles.length == 0">
          <div style="margin-top: 20px;">
            <span class="sidetitle" style="text-align: center !important;">No matching cars found.</span>
          </div>
          <div style="margin-top: 10px;">
            <span style="text-align: center !important; display: block;">Try removing some filters to see more results.</span>
          </div>
          <div style="margin-top: 20px;">
            <span style="text-align: center !important; display: block; cursor: pointer; font-weight: bold;" (click)="resetFilters()">Remove all</span>
          </div>
        </ng-container>

        <div class="d-flex justify-content-center">
          <pagination [boundaryLinks]="true" 
                      [totalItems]="pagination.totalItems"
                      [(ngModel)]="pagination.currentPage"
                      [itemsPerPage]="pagination.itemsPerPage"
                      (pageChanged)="pageChanged($event)"
         >
        </pagination>
        </div> 

    </mat-card>


</div>

</div>

