<div>

  <div style="margin-top: 10px; text-align: center;">
    <span class="sidetitle">Your company was successfully created!</span>
  </div>

  <hr>    

  <div style="text-align: center;">
    <span class="title">You will be redirected to your new company page where you can get everythind set.</span>
  </div>       

  <div style="text-align: center; margin-top: 40px;">
    <span class="sidetitle">Good luck!</span>
  </div>      

  <div style="text-align: center; margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="onClose()"> Done </button>
  </div>


</div>
