<div>

  <div style="margin-top: 10px; text-align: center;">
    <span class="sidetitle"><b>Reservation:</b></span>
  </div>
  <mat-card><b>Click "Reserve" to reserve this flight.</b></mat-card>
  <hr>

  <div style="margin-top: 20px">
  <span class="sidetitle" style="padding-right: 40px;">E-mail:</span>
    <mat-form-field style="width: 100% !important;">
      <input matInput [(ngModel)]="user.email" style="width: 100% !important;">
    </mat-form-field>
  </div>

  <div style="margin-top: 10px;">
    <span class="sidetitle" style="padding-right: 28px;">Nickname:</span>
      <mat-form-field style="width: 100% !important;">
        <input matInput [(ngModel)]="user.nickname">
      </mat-form-field>
    </div>

    <div style="margin-top: 10px;">
      <span class="sidetitle" style="padding-right: 40px;">Departure time:</span>
        <mat-form-field style="width: 100px !important;">
          <input matInput [(ngModel)]="data.arrivalTime">
      </mat-form-field>
  </div>
    
    <div style="margin-top: 10px;">
      <span class="sidetitle" style="padding-right: 40px;">Arrival time:</span>
        <mat-form-field style="width:100px !important;">
          <input matInput [(ngModel)]="data.arrivalTime">
      </mat-form-field>
  </div>
    
  <div style="margin-top: 10px;">
    <span class="sidetitle" style="padding-right: 40px;">Price of ticket:</span>
      <mat-form-field style="width: 100px !important;">
        <input matInput [(ngModel)]="data.ticketPrice">
    </mat-form-field>
  </div>
  
  <div style="margin-top: 10px;">
    <span class="sidetitle" style="padding-right: 40px;">Travel length:</span>
      <mat-form-field style="width: 100px !important;">
        <input matInput [(ngModel)]="data.travelTime">
    </mat-form-field>
  </div>

  <div>
    <app-layout [seatsLayout]="seatsLayout" (confirm)="getSelected($event)"></app-layout>
  </div>

  <div style="padding-top: 55px; display: inline-block; margin-left: 65px;">
    <button mat-raised-button color="primary" style="margin-right: 20px;" [mat-dialog-close]="data" (click)="ReserveAlertify()" cdkFocusInitial> Reserve</button>
  </div>
      
              


</div>
