.dropdown-toogle, .dropdown-item, .navbar-nav, .dropdown { 
    cursor: pointer;
} 

.myNav { 
    position: relative;
    top:-16px;
    left:0px;
}

.cardimg {
    width: 30px;
    height: 30px;
    margin-top: -4px;
}