
  <div> 
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container" style="height: 60px !important;">
      <a class="navbar-brand">PUSGS 2020</a>
      <ul  class="navbar-nav mr-auto">
          <li class="nav-item"  routerLinkActive="active"  *ngIf="!(needToChangePassword$ | async)">
            <a class="nav-link" [routerLink]="['home']">Home</a>
          </li>
          <li class="nav-item" *ngIf="((isAuth$ | async) && !(needToChangePassword$ | async))"  routerLinkActive="active">
            <a class="nav-link" [routerLink]="['myreservations']">My reservations</a>
          </li>
          <li class="nav-item" *ngIf="!(isAuth$ | async)"  routerLinkActive="active">
            <a class="nav-link" (click)="authService.login()">Login</a>
          </li>  
      </ul>

      <div *ngIf="isAuth$ | async" class="dropdown" dropdown style="cursor: pointer;">
        <a class="dropdown-toggle text-light btn btn-secondary" dropdownToggle>
          Welcome {{nickname}}
          <span><img class="cardimg" src="{{pictureUrl}}"></span>
        </a>
        <div class="dropdown-menu mt-3" style="width: 100%;" *dropdownMenu>
          <ng-container *ngIf="!(needToChangePassword$ | async)">
            <a class="dropdown-item"  [routerLink]="['profile']">
              <i class="fa fa-user"></i> Edit Profile</a>
          </ng-container>
              <ng-container *ngIf="isSysAdmin">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"  [routerLink]="['adminpanel']">
                  <i class="fa fa-user"></i> Admin Panel</a>
              </ng-container>
                <div class="dropdown-divider" *ngIf="!(needToChangePassword$ | async)"></div>
            <a class="dropdown-item" (click)="authService.logout()">
              <i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </div>

      </div>
    </nav> 
  </div>