<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <textarea matInput placeholder="Enter your name"></textarea>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Surname</mat-label>
      <textarea matInput placeholder="Enter your surname"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Age</mat-label>
      <textarea matInput placeholder="Enter your age"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Gender</mat-label>
      <textarea matInput placeholder="Enter your gender"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <textarea matInput placeholder="Enter your city"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Country</mat-label>
      <textarea matInput placeholder="Enter your country"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Roles</mat-label>
      <textarea matInput placeholder="Enter your roles"></textarea>
    </mat-form-field>
  </form>
  <button mat-button>Update your profile</button>
</div>

