<div>

  <div style="margin-top: 10px; text-align: center;">
    <span class="sidetitle"><b>Change avio company data:</b></span>
  </div>

  <hr>

    <div style="margin-top: 20px">
    <span class="sidetitle" style="padding-right: 40px;">Name:</span>
    <mat-form-field style="width: 100% !important;">
      <input matInput [(ngModel)]="data.name" style="width: 100% !important;">
    </mat-form-field>
    </div>

    
    <div style="margin-top: 10px;">
      <span class="sidetitle" style="padding-right: 40px;">Description:</span>
        <mat-form-field style="width: 100%  !important;">
          <input matInput [(ngModel)]="data.promoDescription">
      </mat-form-field>
    </div>
    
  

  <div style="padding-top: 55px; display: inline-block; margin-left: 65px;">
    <button mat-raised-button color="primary" style="margin-right: 20px;" [mat-dialog-close]="data" cdkFocusInitial> Save changes</button>
  </div>
      
              


</div>


