<div>

  <div style="margin-top: 10px; text-align: center;">
    <span class="sidetitle">Thank you for your time!</span>
  </div>

  <hr>

  <div style="text-align: center;">
    <span class="sidetitle">Your rating has been saved.</span>
  </div>       
  <div style="text-align: center; margin-top: 50px;" >
    <span class="title">Thank you for choosing {{data.companyName}}!</span>
  </div>     

  <div style="text-align: center; margin-top: 40px;">
    <button mat-raised-button color="primary" (click)="onClose()"> Done </button>
  </div>


</div>

