<mat-card style="margin-top: 15px; margin-left: 10px; margin-right: 10px;">
  <div class="container">
  
    <div class="row">
  
      <div class="col">
        <span class="carheadline">{{avioCompany.name}}</span>
        <hr>
      </div>
  
      <div class="col">
        <span><img class="img" src="{{avioCompany.photo}}" alt=""></span>
      </div>
    </div>
  
  
    <div class="row" style="padding-top: 10px;">
  
      <div class="col">
        <span>Location: </span>
        <span class="cartitle">{{avioCompany.headOffice.city}}, {{avioCompany.headOffice.country}}</span>
      </div>
    </div>
  
    <div class="row" style="padding-top: 10px;">
  
      <div class="col">
        <span>Average rating: </span>
        <span class="cartitle">{{avioCompany.averageGrade}}</span>
      </div>
  
    </div>
  
      <div style="text-align: right; width: 100%;">
        <button mat-raised-button color="primary" (click)="onProfileClick()">Company profile</button>
      </div>
    </div>
  
  </mat-card>