<div class="container" style="height: 100%;">
  <mat-card style="margin-top: 60px;" class="mat-card2">
  <div class="row">
    <div class="col" style="margin-top: 10px;">
      <h5 style="text-align: center;">Friends list:</h5>
      <mat-divider style="width: 95%;"></mat-divider>
        <mat-form-field style="width: 90%;">
          <mat-label >Search</mat-label>
          <input class="input" matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
        </mat-form-field>
      <table title="Friends"   mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <mat-card>Friends</mat-card>

      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef> Surame </th>
          <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

       
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element;  let j = index;"> 
              <button mat-raised-button  color="warn" focusable="false" (click)="deleteTicket(j)">
                  <i class="fa fa-times mat-icon"></i> Remove
                </button>
          </td>
        </ng-container>

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="col" style="margin-top: 10px;">
      <h5 style="text-align: center;">Your profile</h5>
      <mat-divider style="width: 95%;"></mat-divider>
    <form style="margin-top: 50px;">
      <div>
        <span>First name:</span>
        <mat-form-field appearance = "outline" style="margin-left: 10px;">
          <input matInput placeholder="Enter your name" 
          [(ngModel)]="korisnik.firstName" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
        
      <div>
        <span>Last name:</span>
        <mat-form-field appearance = "outline" style="margin-left: 10px;">
          <input matInput placeholder="Enter your surname" 
          [(ngModel)]="korisnik.lastName" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      
      <div>
        <span>City:</span>
        <mat-form-field  appearance = "outline" style="margin-left: 60px;">  
          <input matInput placeholder="Enter your city" 
           [(ngModel)]="korisnik.city" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>

      <div>
        <span>Phone num:</span>
        <mat-form-field  appearance = "outline" style="margin-left: 6px;">
          <input matInput placeholder="Enter your phone" 
          [(ngModel)]="korisnik.phoneNumber" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
        
      <div style="text-align: center;">
        <button mat-raised-button color="primary" (click)="UpdateProfile()">Update profile</button>
      </div>
      </form>
  </div>

  <div class="col" style="margin-top: 10px;">
    <h5 style="text-align: center;">Update password</h5>
    <mat-divider style="width: 95%;"></mat-divider>
    <form [formGroup]="formGroup">
      <div class="form-group" style="margin-top: 50px;">

        <label for="password" [ngClass]="(formGroup.controls['password'].invalid && formGroup.controls['password'].touched) ? 'text-danger' : ''">Password:</label>
        
        <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="(formGroup.controls['password'].invalid && formGroup.controls['password'].touched) ? 'is-invalid' : ''">
       
        <div class="col" style="color: green;" *ngIf="formGroup.controls['password'].touched && 
        !formGroup.controls['password'].hasError('required') && 
        !formGroup.controls['password'].hasError('minlength') &&
        !formGroup.controls['password'].hasError('hasNumber') &&
        !formGroup.controls['password'].hasError('hasCapitalCase') &&
        !formGroup.controls['password'].hasError('hasSmallCase')">
          Looks good!
        </div>
        <label class="col" style="color: red;" 
        *ngIf="formGroup.controls['password'].touched && 
        formGroup.controls['password'].hasError('required') || 
        formGroup.controls['password'].hasError('minlength')">
          Must be at least 8 characters!
        </label>

        <label class="col" style="color: red;"
       *ngIf="formGroup.controls['password'].touched && 
        formGroup.controls['password'].hasError('required') || 
        formGroup.controls['password'].hasError('hasNumber')">
          Must contain at least 1 number!
        </label>

        <label class="col" style="color: red;"  
        *ngIf="formGroup.controls['password'].touched && 
        formGroup.controls['password'].hasError('required') || 
        formGroup.controls['password'].hasError('hasCapitalCase')">
          Must contain at least 1 in Capital Case!
        </label>

        <label class="col" style="color: red;" 
         *ngIf="formGroup.controls['password'].touched && 
        formGroup.controls['password'].hasError('required') || 
        formGroup.controls['password'].hasError('hasSmallCase')">
          Must contain at least 1 Letter in Small Case!
        </label>

      </div>

      <div class="form-group">

        <label for="confirmPassword" 
        [ngClass]="(formGroup.controls['confirmPassword'].invalid && formGroup.controls['confirmPassword'].touched) ? 'text-danger' : ''">Confirm
          Password:</label>

        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
        [ngClass]="(formGroup.controls['confirmPassword'].invalid && formGroup.controls['confirmPassword'].touched) ? 'is-invalid' : ''">
        
        <div class="col" style="color: green;" *ngIf="formGroup.controls['confirmPassword'].touched && 
        !formGroup.controls['confirmPassword'].hasError('NoPassswordMatch') &&
        formGroup.controls['confirmPassword'].touched &&
       !formGroup.controls['password'].hasError('required') && 
       !formGroup.controls['password'].hasError('minlength') &&
       !formGroup.controls['password'].hasError('hasNumber') &&
       !formGroup.controls['password'].hasError('hasCapitalCase') &&
       !formGroup.controls['password'].hasError('hasSmallCase')">
          Looks good!
        </div>
       
        <label class="col" style="color: red;"
         *ngIf="formGroup.controls['confirmPassword'].hasError('NoPassswordMatch') &&
         formGroup.controls['confirmPassword'].touched &&
        !formGroup.controls['password'].hasError('required') && 
        !formGroup.controls['password'].hasError('minlength') &&
        !formGroup.controls['password'].hasError('hasNumber') &&
        !formGroup.controls['password'].hasError('hasCapitalCase') &&
        !formGroup.controls['password'].hasError('hasSmallCase')"
         >
          Password do not match
        </label>
      </div>

      <div style="text-align: center;">
        <button mat-raised-button color="primary"(click)="updatePass()" [disabled]="formGroup.invalid">Change password</button>
      </div>

    </form>
</div>

  </div>
</mat-card>
</div>

