.mat-card1 { 
    background-color: rgba(238, 229, 229, 0.9);
}

.user1 {
    background-color: rgba(238, 229, 229, 0.9);
}

.mat-elevation-z8 {
    background-color: rgba(238, 229, 229, 0.9);
}

.input {
    background-color: rgba(238, 229, 229, 0.9);
}