<div>

  <div style="margin-top: 10px; text-align: center;">
    <span class="sidetitle"><b>Reservation:</b></span>
  </div>
  <mat-card><b>Click "Reserve" to reserve this flight.</b></mat-card>
  <hr>

  <div style="margin-top: 20px">
  <span class="sidetitle" style="padding-right: 40px;">E-mail:</span>
  <span class="sidetitle">{{user.email}}</span>
  </div>

  <div style="margin-top: 10px;">
    <span class="sidetitle" style="padding-right: 28px;">Nickname:</span>
      
        <span class="sidetitle">{{user.nickname}}</span>

    </div>


    <div style="margin-top: 10px;">
      <span class="sidetitle" style="padding-right: 40px;">Departure destination:</span>
      <span class="sidetitle">{{data.departureDestination.city}}</span>
    </div>

    <div style="margin-top: 10px;">
      <span class="sidetitle" style="padding-right: 40px;">Arrival destination:</span>
      <span class="sidetitle">{{data.arrivalDestination.city}}</span>
    </div>

    <div style="margin-top: 10px;">
      <span class="sidetitle" style="padding-right: 40px;">Departure time:</span>
      <span class="sidetitle">{{data.departureTime}}</span>
  </div>
    
    <div style="margin-top: 10px;">
      <span class="sidetitle" style="padding-right: 40px;">Arrival time:</span>
      <span class="sidetitle">{{data.arrivalTime}}</span>
  </div>
    
  <div style="margin-top: 10px;">
    <span class="sidetitle" style="padding-right: 40px;">Price of ticket:</span>
    <span class="sidetitle">{{data.ticketPrice}}</span>
  </div>
  
  <div style="margin-top: 10px;">
    <span class="sidetitle" style="padding-right: 40px;">Travel length:</span>
    <span class="sidetitle">{{data.travelTime}}</span>
  </div>


  <div style="padding-top: 55px; display: inline-block; margin-left: 65px;">
    <button mat-raised-button color="primary" style="margin-right: 20px;" [mat-dialog-close]="data" (click)="Reserve()" cdkFocusInitial> Reserve</button>
  </div>
      
              


</div>
