<div>

  <div style="margin-top: 10px; text-align: center;">
    <span class="sidetitle">We have made some special deals only for you!</span>
  </div>

  <hr>

  <div style="text-align: center;">
    <span class="sidetitle">Click the button below to see the offer!</span>
  </div>       

  <div style="text-align: center; margin-top: 40px;">
    <button mat-raised-button style="margin-right: 40px;" color="warn" (click)="onNoClick()"> No, thanks </button>
    <button mat-raised-button color="primary" (click)="onConfirm()"> Yes, please! </button>

  </div>

</div>

