<div class="container">
  <div class="row">
    <mat-card class="mat-elevation-z8 mat-card1">
      <div id="wrapper">
        <div id="title">
          <h2 class="titletext">{{company.name}}</h2>
          <span class="overview">-</span>
           
          <span class="overview">{{company.promoDescription}}</span>

          <div style="position: absolute; top: 30px; left: 75%;">
            <span><img class="img" src="{{company?.photo}}" alt=""></span>
          </div>

        </div>

        <div style="position: relative; margin-top: 16px;">
          <br />
          <div style="position: absolute; top:0">
            <h6 class="spinnertext" style="margin-left:37px"> User rating:</h6>
          </div>

          <div style="position: absolute; top:0; margin-left: 240px">
            <h6 class="spinnertext"> Total flights:</h6>
          </div>  

          <div style="position: absolute; top:0; margin-left: 340px">
            <h6 class="spinnertext"  ><button mat-button *ngIf="isAdmin" (click)="onCompanyEdit()">Edit</button></h6>
            <span class="overview2" *ngIf="isAdmin" (click)="onChangeHeadOffice()" style="cursor: pointer;" >Change</span> 
            <span style="cursor: pointer;" class="overview2" (click)="onAvioCompanyIncomes()" *ngIf="isAdmin">Company incomes</span>
          </div>  

          <div>
            <h6 class="spinnertext"  ><button style="position: absolute; top:0; margin-left: 420px" *ngIf="isAdmin" mat-button (click)="OnFlightEdit()">Define new flight</button></h6>
          </div>  

          <div>
            <h6 class="spinnertext"  ><button style="position: absolute; top:0; margin-left: 550px" *ngIf="isAdmin"  mat-button (click)="ViewGraphic()">View graphic</button></h6>
          </div>  
          <div> 
            <a class="overview" style="position: absolute; top:0; margin-left: 750px; margin-top:150px" *ngIf="isAdmin" (click)="destinationsEdit()">Edit destinations</a> 
          </div>
        </div>

       
        
      </div>


        <div class="spinner" style="position: relative; width: 60px; height: 60px; display: flex; align-items: center; justify-content: center;">
          <mat-progress-spinner [diameter]="60" style="width: 60px;height: 60px;position: absolute;top: 0;left: 0;" [color]="'accent'" [mode]="'determinate'" [value]="company?.averageGrade*10">
          </mat-progress-spinner>

          <div style="position: absolute; top:20px; left: 14px;">
            <h6 class="spinnertext">{{company.averageGrade | nodata}}</h6>
          </div>

          <div style="position: absolute; top: 10px; left:230px;">
            <h6 class="spinnertext">{{pagination.totalItems}}</h6>
          </div>    

        </div>


        <br />
       
        <h5 class="overview"> Head Ofiice: </h5>
        <span class="overview">{{company.headOffice.address}}, {{company.headOffice.city}}, {{company.headOffice.country}}</span> 
        <span class="overview" (click)="onShowMap()" style="cursor: pointer;">View on map</span> 
        <a class="overview" (click)="onDiscountedFlights()">Fast and discount tickets?</a> 
            
       <br />

       <div style="width: 100%; margin-top: 30px; margin-left: 50px;">
  
        <form>
          <div class="form-row">

       <div class="col">
        <mat-card style="height: 70px !important">
          <mat-form-field style="width: 100% !important;">
            <mat-label>Starting destination</mat-label>
            <mat-select [(ngModel)]="startingLocation" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let destination of destinations" [value]="destination?.city">
                {{destination.city}} ,{{destination.country}}
              </mat-option>
            </mat-select>
          </mat-form-field>           
        </mat-card>
      </div>

      <div class="col">
        <mat-card style="height: 70px !important">
          <mat-form-field style="width: 100% !important;">
            <mat-label>Arrival destination</mat-label>
            <mat-select [(ngModel)]="returningLocation"  [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let destination of destinations" [value]="destination?.city">
                {{destination.city}} ,{{destination.country}}
              </mat-option>
            </mat-select>
          </mat-form-field>           
        </mat-card>
      </div>

      <div class="col">
        <mat-card style="height: 70px !important">
          <mat-form-field style="width: 100% !important;">
            <mat-label>Departure date</mat-label>
            <input matInput [matDatepicker]="picker"  [(ngModel)]="startingDate" [ngModelOptions]="{standalone: true}"
             [min]="startingMinDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker >
          </mat-form-field>
        </mat-card>
      </div>

      <div class="col" *ngIf="twoWay">
        <mat-card style="height: 70px !important">
          <mat-form-field style="width: 100% !important;">
            <mat-label>Arrival date</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="returningDate" [ngModelOptions]="{standalone: true}" 
            [min]="startingDate" >
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker >
          </mat-form-field>
        </mat-card>
      </div>

      <div class="col" style="margin-top: 10px;">
      <button mat-raised-button color="primary" (click)="loadFlights()">Search</button>
      </div>

     </div>
      </form>
      </div>

      <div style="margin-left: 80px; margin-top: 20px; font-weight: bold; font-size: 14px; width: 115px;">
        <mat-card>
          <mat-checkbox class="example-margin" [(ngModel)]="twoWay">Two way</mat-checkbox>
        </mat-card>
      </div>


      
    </mat-card>

    <mat-card class="mat-elevation-z8 mat-card2">
      <mat-card class="mat-card3">

        <span class="sidetitle">Min Price : {{minPriceChosen}}</span>
        <br/>

        <div>
          <mat-slider style="width: 100% !important;"
          [(value)]="minPriceChosen"
          class="example-margin"
          [max]="maxPriceChosen"
          [min]="0"
          [step]="3"
          [thumbLabel]="true"
          color="primary">
      </mat-slider>
      <span style="font-weight: bold;">0</span>
        <span style="font-weight: bold; float: right;">1000</span>
        </div>

        <div>
          <hr>
        </div>

        <span class="sidetitle">Max Price : {{maxPriceChosen}}</span>

        <br/>

        <div>
          <mat-slider style="width: 100% !important;"
          [(value)]="maxPriceChosen"
          class="example-margin"
          [max]="1000"
          [min]="minPriceChosen"
          [step]="3"
          [thumbLabel]="true"
          color="primary">
        </mat-slider>
        <span style="font-weight: bold;">0</span>
        <span style="font-weight: bold; float: right;">1000</span>
        </div>

        <div style="margin-top: 30px; margin-left: 65px;">
          <button mat-raised-button (click)="resetFilters()" color="warn">Remove filters</button>
        </div>

      </mat-card>
      
  
      <div *ngFor="let flight of flights">
        <app-flight-card [flight]= "flight" [company]="company"></app-flight-card>
      </div>

      <ng-container *ngIf="flights.length == 0">
        <div style="margin-top: 20px;">
          <span class="sidetitle" style="text-align: center !important;">No matching flights found.</span>
        </div>
        <div style="margin-top: 10px;">
          <span style="text-align: center !important; display: block;">Please change your search criteria and try again.</span>
        </div>
        <div style="margin-top: 20px;">
          <span style="text-align: center !important; display: block; cursor: pointer; font-weight: bold;" (click)="resetFilters()">Remove all</span>
        </div>
      </ng-container>

      <div class="d-flex justify-content-center" >
        <pagination [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems"
                    [(ngModel)]="pagination.currentPage"
                    [itemsPerPage]="pagination.itemsPerPage"
                    (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
      </div> 

    </mat-card>

  </div>
</div>

