.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mat-card {
    background-color: rgba(226, 223, 223, 0.9);
    border: 1px solid rgba(102, 99, 99, 0.8);
    border-radius: 8px;
}