<div style="min-height: 100%;">
  <div class="container">
    <div style="text-align: center;">
      <mat-card style="width: 500px; min-height: 500px;" class="centered">
        <div class="card card-body" style="min-height: 480px; position: relative;">
          <div style="margin-bottom: 20px;">
            <h5>Please change your password first:</h5>
          </div>
          <form [formGroup]="formGroup">
            <div class="form-group">

              <label for="password" [ngClass]="(formGroup.controls['password'].invalid && formGroup.controls['password'].touched) ? 'text-danger' : ''">Password:</label>
              
              <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="(formGroup.controls['password'].invalid && formGroup.controls['password'].touched) ? 'is-invalid' : ''">
             
              <div class="col" style="color: green;" *ngIf="formGroup.controls['password'].touched && 
              !formGroup.controls['password'].hasError('required') && 
              !formGroup.controls['password'].hasError('minlength') &&
              !formGroup.controls['password'].hasError('hasNumber') &&
              !formGroup.controls['password'].hasError('hasCapitalCase') &&
              !formGroup.controls['password'].hasError('hasSmallCase')">
                Looks good!
              </div>
              <label class="col" style="color: red;" 
              *ngIf="formGroup.controls['password'].touched && 
              formGroup.controls['password'].hasError('required') || 
              formGroup.controls['password'].hasError('minlength')">
                Must be at least 8 characters!
              </label>

              <label class="col" style="color: red;"
             *ngIf="formGroup.controls['password'].touched && 
              formGroup.controls['password'].hasError('required') || 
              formGroup.controls['password'].hasError('hasNumber')">
                Must contain at least 1 number!
              </label>

              <label class="col" style="color: red;"  
              *ngIf="formGroup.controls['password'].touched && 
              formGroup.controls['password'].hasError('required') || 
              formGroup.controls['password'].hasError('hasCapitalCase')">
                Must contain at least 1 in Capital Case!
              </label>

              <label class="col" style="color: red;" 
               *ngIf="formGroup.controls['password'].touched && 
              formGroup.controls['password'].hasError('required') || 
              formGroup.controls['password'].hasError('hasSmallCase')">
                Must contain at least 1 Letter in Small Case!
              </label>

            </div>

            <div class="form-group">

              <label for="confirmPassword" 
              [ngClass]="(formGroup.controls['confirmPassword'].invalid && formGroup.controls['confirmPassword'].touched) ? 'text-danger' : ''">Confirm
                Password:</label>

              <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
              [ngClass]="(formGroup.controls['confirmPassword'].invalid && formGroup.controls['confirmPassword'].touched) ? 'is-invalid' : ''">
              
              <div class="col" style="color: green;" *ngIf="formGroup.controls['confirmPassword'].touched && 
              !formGroup.controls['confirmPassword'].hasError('NoPassswordMatch') &&
              formGroup.controls['confirmPassword'].touched &&
             !formGroup.controls['password'].hasError('required') && 
             !formGroup.controls['password'].hasError('minlength') &&
             !formGroup.controls['password'].hasError('hasNumber') &&
             !formGroup.controls['password'].hasError('hasCapitalCase') &&
             !formGroup.controls['password'].hasError('hasSmallCase')">
                Looks good!
              </div>
             
              <label class="col" style="color: red;"
               *ngIf="formGroup.controls['confirmPassword'].hasError('NoPassswordMatch') &&
               formGroup.controls['confirmPassword'].touched &&
              !formGroup.controls['password'].hasError('required') && 
              !formGroup.controls['password'].hasError('minlength') &&
              !formGroup.controls['password'].hasError('hasNumber') &&
              !formGroup.controls['password'].hasError('hasCapitalCase') &&
              !formGroup.controls['password'].hasError('hasSmallCase')"
               >
                Password do not match
              </label>
            </div>
            <div class="form-group" style="position: absolute; bottom: 0; width: 420px; text-align: center;">
              <button [disabled]="formGroup.invalid" (click)="submitForm()" class="btn btn-primary btn-block font-weight-bold">Change password</button>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>