<div class="container mt-5">
<div class="row">
  <h1 class="title">Need a cheap flight or car rental service?</h1>
</div>

  <div class="row d-flex justify-content-center">
    <form>
      <div class="form-row">
        <div class="col">
          <mat-card style="height: 70px !important;">
          <mat-form-field>
            <mat-label>Starting point:</mat-label>
            <mat-select [(ngModel)]="startingLocation" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let destination of destinations" [value]="destination.city + ' ' + destination.country">
                {{destination.city}}, {{destination.country}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>

        </div>

        <div class="col">
           <mat-card style="height: 70px !important;">
          <mat-form-field>
            <mat-label>Returning point:</mat-label>
            <mat-select [(ngModel)]="returningLocation" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let destination of destinations" [value]="destination.city + ' ' + destination.country">
                {{destination.city}}, {{destination.country}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>
        </div>

        <div class="col">
          <mat-card style="height: 70px !important;">
            <mat-form-field>
              <mat-label>Starting date</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="startingDate" [ngModelOptions]="{standalone: true}" 
              [min]="startingMinDate" [max]="returningDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker >
            </mat-form-field>
          </mat-card>
        </div>

        <div class="col">
          <mat-card style="height: 70px !important;">
            <mat-form-field>
              <mat-label>Returning date</mat-label>
              <input matInput  [matDatepicker]="picker2"  [(ngModel)]="returningDate" [ngModelOptions]="{standalone: true}" 
              [min]="returningMinDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker >
            </mat-form-field>
          </mat-card>
        </div>

        <div class="col d-flex justify-content-center">
          <button mat-raised-button color="accent">Search</button>
        </div>
      </div>
    </form>
  </div>
  <p-fieldset legend="More options" [toggleable]="true">
    <div class="row justify-content-start">
      <div class="col-3" style=" text-align: center;">
        <span style="font-weight: bold; font-size: 14px;">Car rental name:</span>
        <br/>
        <mat-form-field appearance="outline">
          <input matInput name="name" (keyup)="onSearchByName($event.target.value)" ngModel>
        </mat-form-field>
      </div>
      <div class="col-3" style=" text-align: center;">
        <span style="font-weight: bold; font-size: 14px;">Car rental location:</span>
        <br/>
        <mat-form-field appearance="outline">
          <input matInput name="location" (keyup)="onSearchByLocation($event.target.value)" ngModel>
        </mat-form-field>
      </div>
    </div>
</p-fieldset>
<br/>

  <div class="row">
    <div class="col"> 
      <mat-card class="mat-elevation-z8 mat-card1"> 
        <h5 style="text-align: center"><b> Friends List:</b> </h5>
        <mat-divider></mat-divider>
    </mat-card>
    </div>

    <div class="col-6">
      <mat-card class="d-flex justify-content-center mat-card1"> 
      <mat-tab-group style="width: 100%;">
        <mat-tab label="Avio companies"> 

          <ng-container *ngIf="avioCompanies?.length > 0"> 
            <div *ngFor="let avioCompany of avioCompanies">
              <app-aviocompany-card [avioCompany]="avioCompany"></app-aviocompany-card>
            </div>
          </ng-container>

        </mat-tab>
        <mat-tab label="Rent a car companies"> 

          <ng-container *ngIf="rentaCarCompanies?.length > 0"> 
            <div *ngFor="let carCompany of rentaCarCompanies">
              <app-rentalcompany-card [carCompany]="carCompany"></app-rentalcompany-card>
            </div>
          </ng-container>

        </mat-tab>
      </mat-tab-group>
      </mat-card>
    </div>
  
    <div class="col"> 
      <mat-card class="mat-elevation-z8 mat-card1"> 
          <h5 style="text-align: center"><b> History:</b> </h5>
          <mat-divider></mat-divider>
      </mat-card>
    </div>
  </div>
  


</div>